<div id="wrapper1">
	<aside>
		<h1>О Tippo</h1>
		<nav>
      <%= render :partial => 'about_menu' %>
		</nav>
		<div class="aside-email-form">
			<div class="aside-email-top"></div>
			<div class="aside-email-middle">
				<p>
					Оставь свой e-mail и 
					узнай первым!
				</p>
				 <%= form_for Inquiry.new do |f| %>
                    <%= f.required_label :name, "Ваше имя" %>
                    <div class="error" id="error-name" >Укажите имя!</div>
                    <%= f.text_field :name %>
                    <%= f.required_label :email, "E-mail" %>
                    <div class="error" id="error-email">Укажите e-mail!</div>
                    <%= f.text_field :email %>
                        <%= image_submit_tag "/img/blank.gif", :id=>"id_email_submit" %>
                        </div>
                        <div class="aside-email-bottom"></div>
                        </div>
            <% end %>
	</aside>
	<section class="second-col vacancies">
		<div class="hr-dashed"></div>
        <%= raw @page.content_for(:body) %>
        <ul id="jobsList">
            <% find_all_jobs.each do |job| %>
                <li>
                <a href="javascript:;"><%= raw job.title%></a>
                <div class="vac-descr">
                    <div class="vac-top"></div>
                    <p>
                        <%= raw job.description %>
                    </p>
                    <div class="vac-bottom"></div>
                </div>
                </li>
            <% end %>
        </ul>

	</section>
	<div class="clear"></div>
</div>
<%= render :partial => 'social' %>
